# ----------------- #
# for fetching data #
# ----------------- #
urllib3
# included in std library
requests

# ---------------- #
# for parsing data #
# ---------------- #
beautifulsoup4
python-pptx
python-docx
PyDocX
pdfminer.six

# ----------------- #
# for running tests #
# ----------------- #
tox

# install in development mode
-e .
