# text proccessing
spacy
spacy-legacy
spacy-wordnet
nltk

# crawler(fetch data)
urllib3

# crawler(parse data)
beautifulsoup4
python-pptx
python-docx
pdfminer.six

# dont what it does
# has to do with pip
-e .
